altgraph==0.17.3
attrs==22.1.0
butter==0.13.1
cffi==1.15.1
cfgv==3.3.1
distlib==0.3.6
exceptiongroup==1.0.4
filelock==3.8.0
identify==2.5.9
iniconfig==1.1.1
nodeenv==1.7.0
packaging==21.3
platformdirs==2.5.4
pluggy==1.0.0
pre-commit==2.20.0
pycparser==2.21
pyinstaller==5.5
pyinstaller-hooks-contrib==2022.10
pyparsing==3.0.9
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
pytest==7.2.0
pytest-qt==4.2.0
pytest-xvfb==2.0.0
PyVirtualDisplay==3.0
PyYAML==6.0
tabulate==0.9.0
toml==0.10.2
tomli==2.0.1
virtualenv==20.17.0
